html {}

body {}

main {
    display: flex;
    width: 420px;
    height: 300px;
    flex-direction: column;
    margin: auto;
}

.flexbox {
    display: flex;
    flex-direction: row;
}

.wall {
    background-color: black;
    width: 20px;
    height: 20px;
}

.empty {
    width: 20px;
    height: 20px;
}

#start {
    background-color: blue;
    width: 20px;
    height: 20px;
}

.finish {
    background-color: red;
    width: 20px;
    height: 20px;
}